<template>
  <div class="content">

    <mind-tables :dataStorage="datatables">
      <template slot="td_attributes" slot-scope="column">
        <!-- <input type="checkbox" class="d-block mx-auto" :id="column.ref" /> -->
        <div class="custom-control custom-checkbox d-block justify-content-center">
          <input type="checkbox" class="custom-control-input" :id="`cbx_${column.id}`" />
          <label class="custom-control-label" :for="`cbx_${column.id}`"></label>
        </div>
      </template>

      <template slot="td_mestre" slot-scope="column">
        <!-- <input type="checkbox" class="d-block mx-auto" :id="column.ref" /> -->
        <InputCellNavigation
          :id="column.id"
          :name="'mestre'"
          :row="column.idxRow"
          :col="column.idxCol"
          :model="column"
          @change="manualDistribution"
          :class="'cell-distribution'"
        />
      </template>

      <template slot="td_minMaxItem" slot-scope="column">
        <!-- <input type="checkbox" class="d-block mx-auto" :id="column.ref" /> -->
        <InputCellNavigation
          :id="column.id"
          :name="'minMaxItem'"
          :row="column.idxRow"
          :col="column.idxCol"
          :model="column"
          @change="manualDistribution"
          :class="'cell-distribution'"
        />
      </template>

      <template slot="td_quadrante" slot-scope="column">
        <button
          class="btn btn-primary m-0 btn-rounded waves-effect waves-light btn-sm mx-auto pl-3 pr-3"
          :id="column.id"
        >
          <svg class="icon icon-iconfinder_search-find-detail-zoom_2075816 h6 mb-0">
            <use xlink:href="#icon-iconfinder_search-find-detail-zoom_2075816" />
          </svg>
        </button>
      </template>

      <template slot="td_observacao" slot-scope="column">
        <button
          class="btn btn-primary m-0 btn-rounded waves-effect waves-light btn-sm mx-auto pl-3 pr-3"
          :id="column.id"
        >
          <svg class="icon icon-iconfinder_search-find-detail-zoom_2075816 h6 mb-0">
            <use xlink:href="#icon-iconfinder_search-find-detail-zoom_2075816" />
          </svg>
        </button>
      </template>
    </mind-tables>
    <symbol id="icon-iconfinder_search-find-detail-zoom_2075816" viewBox="0 0 32 32">
      <path
        d="M20.151 0c-6.534 0-11.849 5.315-11.849 11.849s5.315 11.849 11.849 11.849 11.849-5.315 11.849-11.849-5.317-11.849-11.849-11.849zM20.151 21.543c-5.345 0-9.694-4.35-9.694-9.694s4.347-9.694 9.694-9.694 9.694 4.35 9.694 9.694-4.35 9.694-9.694 9.694z"
      ></path>
      <path d="M-0 30.476l10.771-10.771 1.523 1.523-10.771 10.771-1.523-1.523z"></path>
    </symbol>
  </div>
</template>
<script>
import MindTables from "@/components/mind-tables";
import InputCellNavigation from "@/components/input-cell-navigation";

export default {
  name: "cd-sku-content",
  components: { MindTables, InputCellNavigation },
  data: () => ({
    datatables: {
      data: {
        filters: {
          attributes: {
            visible: true,
            freeze: true,
            width: "50"
          },
          dataEntrega: {
            visible: true,
            freeze: true,
            width: "150",
            filterColumn: {
              active: false,
              name: "filterDataEntrega"
            }
          },
          pedido: {
            visible: true,
            freeze: true,
            width: "120"
          },
          fornecedor: {
            visible: true,
            freeze: true,
            width: "150"
          },
          dataRecebimento: {
            visible: true,
            freeze: true,
            width: "150"
          },
          item: {
            visible: true,
            width: ""
          },
          descricao: {
            visible: true,
            width: ""
          },
          cluster: {
            visible: true,
            width: ""
          },
          quadrante: {
            visible: true,
            type: "BUTTON",
            width: ""
          },
          statusPedido: {
            visible: true,
            width: "",
            sort: null
          },
          statusAlocacao: {
            visible: true,
            width: "",
            sort: null
          },
          percentualAlocado: {
            visible: true,
            width: ""
          },
          observacao: {
            visible: true,
            type: "BUTTON",
            width: ""
          },
          origem: {
            visible: true,
            width: ""
          },
          tipoAlocacao: {
            visible: true,
            width: "110"
          },
          minMaxItem: {
            visible: true,
            width: "110"
          },
          mestre: {
            visible: true,
            width: ""
          },
          precoCusto: {
            visible: true,
            width: "70"
          },
          precoVenda: {
            visible: true,
            width: "70"
          },
          quantidadePack: {
            visible: true,
            width: "90"
          },
          quantidadePecas: {
            visible: true,
            width: "95"
          },
          quantidadeTotalPecas: {
            visible: true,
            width: "110"
          }
        },
        columns: [
          // [
          //  {
          //    label: "Lista de Trabalho",
          //    field: "workList",
          //    child: ["attributes", "dataEntrega", "pedido", "fornecedor", "dataRecebimento", "item", "descricao", "cluster", "quadrante", "statusPedido", "statusAlocacao", "percentualAlocado", "observacao", "origem", "tipoAlocacao", "minMaxItem", "mestre", "precoCusto", "precoVenda", "quantidadePack", "quantidadePecas", "quantidadeTotalPecas"]
          //  }
          // ],
          // [
          //  {
          //    label: "LOJA",
          //    field: "loja",
          //    child: ["attributes", "dataEntrega", "pedido", "fornecedor", "dataRecebimento"]
          //  },
          //  {
          //    label: "INFORMAÇÕES PRODUTO",
          //    field: "informacoesProduto",
          //    child: ["item", "descricao", "cluster", "quadrante", "statusPedido", "statusAlocacao", "percentualAlocado", "observacao", "origem", "tipoAlocacao", "minMaxItem", "mestre", "precoCusto", "precoVenda", "quantidadePack", "quantidadePecas", "quantidadeTotalPecas"]
          //  },
          // ],
          [
            {
              label: "",
              field: "attributes",
              sort: "asc"
            },
            {
              label: "DATA DE ENTREGA",
              field: "dataEntrega",
              sort: "asc"
            },
            {
              label: "PEDIDO",
              field: "pedido",
              sort: "asc"
            },
            {
              label: "FORNECEDOR",
              field: "fornecedor",
              sort: "asc"
            },
            {
              label: "DATA DE RECEB.",
              field: "dataRecebimento",
              sort: "asc"
            },
            {
              label: "ITEM",
              field: "item",
              sort: "asc"
            },
            {
              label: "DESCRIÇÃO",
              field: "descricao",
              sort: "asc"
            },
            {
              label: "CLUSTER",
              field: "cluster",
              sort: "asc"
            },
            {
              label: "QUADRANTE",
              field: "quadrante",
              sort: "asc"
            },
            {
              label: "STATUS PEDIDO",
              field: "statusPedido",
              sort: "asc"
            },
            {
              label: "STATUS ALOC.",
              field: "statusAlocacao",
              sort: "asc"
            },
            {
              label: "% ALOC.",
              field: "percentualAlocado",
              sort: "asc"
            },
            {
              label: "OBS.:",
              field: "observacao",
              sort: "asc"
            },
            {
              label: "ORIGEM",
              field: "origem",
              sort: "asc"
            },
            {
              label: "TIPO DE ALOC.",
              field: "tipoAlocacao",
              sort: "asc"
            },
            {
              label: "MIN/MAX ITEM",
              field: "minMaxItem",
              sort: "asc"
            },
            {
              label: "DIST. MANUAL",
              field: "mestre",
              sort: "asc"
            },
            {
              label: "PC",
              field: "precoCusto",
              sort: "asc"
            },
            {
              label: "PV",
              field: "precoVenda",
              sort: "asc"
            },
            {
              label: "QTD PACK",
              field: "quantidadePack",
              sort: "asc"
            },
            {
              label: "QTD PEÇAS",
              field: "quantidadePecas",
              sort: "asc"
            },
            {
              label: "QTD TT PEÇAS",
              field: "quantidadeTotalPecas",
              sort: "asc"
            }
          ]
        ],
        rows: []
      }
    },
    sumDistribution: 0
  }),
  mounted() {
    const wait = ms => new Promise(resolve => setTimeout(resolve, ms));
    wait(3000)
      .then(() => {
        
        const model = [
          {
            attributes: {
              id: 0,
              selected: false,
              lock: false,
              height: ""
            },
            dataEntrega: "11/08/2019",
            pedido: "1600023424",
            fornecedor: "GRENDENE S A",
            dataRecebimento: "11/08/2019",
            item: "M5131662",
            descricao: "HOMEM CARTAGO 1132621559",
            cluster: "AlocaParaTodasAsLojas",
            quadrante: "BUTTON",
            statusPedido: "Recebido",
            statusAlocacao: "Calculado",
            percentualAlocado: "15%",
            observacao: "BUTTON",
            origem: "",
            tipoAlocacao: "Automático",
            minMaxItem: "",
            mestre: "",
            precoCusto: "15.98",
            precoVenda: "39.99",
            quantidadePack: "",
            quantidadePecas: "12",
            quantidadeTotalPecas: "1560"
          },
          {
            attributes: {
              id: 1,
              selected: false,
              lock: false,
              height: ""
            },
            dataEntrega: "11/08/2019",
            pedido: "2411123424",
            fornecedor: "JONSON E JONSON",
            dataRecebimento: "12/08/2019",
            item: "M5131662",
            descricao: "SHAMPOO 1132621559",
            cluster: "Alocação para lojas",
            quadrante: "BUTTON",
            statusPedido: "Recebido",
            statusAlocacao: "Calculado",
            percentualAlocado: "25%",
            observacao: "BUTTON",
            origem: "",
            tipoAlocacao: "Automático",
            minMaxItem: "",
            mestre: "",
            precoCusto: "7.99",
            precoVenda: "18.99",
            quantidadePack: "1",
            quantidadePecas: "12",
            quantidadeTotalPecas: "1560"
          }
        ];
        this.$set(this.datatables.data, "rows", model);
      })
      .catch(() => {});
  },
  methods: {
    manualDistribution: function() {
      let resultCalc = [];
      this.datatables.data.rows.forEach(t => {
        resultCalc.push(Number(t.mestre) * (Number(t.precoVenda) * Number(t.quantidadePecas)));
      })
      console.log(this.sumDistribution = resultCalc.reduce((a, b) => a + b, 0));
    }
  }
};
</script>
<style scoped>
.cell-distribution {
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  padding: 0.5rem;
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 0;
  background-color: #f1f6ff;
  position: absolute;
  top: 0;
  left: 0;
}
</style>
