<template>
  <div class="home">

    <div class="main-table" v-drawscroll="{ start: '0' }">
      <div class="top-table">

        <div id="dtBasicExample_filter" class="dataTables_filter float-left form-inline mb-3"><label>Search:<input type="search" class="form-control form-control-sm ml-2" placeholder="Search" aria-controls="dtBasicExample"></label></div>
        <div class="dropdown dropdown-contextmenu">
          <div class="dropdown-menu p-4" aria-labelledby="dropdownMenuButton" style="display: block;">
            <template v-for="(column, i) in dataList.data.columns[dataList.data.columns.length - 1]">
              <div :key="i" class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"
                       @change="columnToggle"
                       v-model="dataList.data.filters[column.field].visible"
                       :checked="true"
                       :name="column.field"
                       :id="column.field">
                <label class="custom-control-label" :for="column.field">{{ column.label }}</label>
              </div>
            </template>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="head-table">

        <div class="head-table-inner">
          <div v-if="hasColumnFreeze()">
            <table class="table table-freeze table-bordered border-bottom-0 table-secondary table-sm dataTable no-footer" width="100%" cellspacing="0" role="grid">
              <thead>
                <tr v-for="(field, i) in dataList.data.columns" :key="i">
                  <template v-for="(column, i) in field">
                    <th scope="col"
                        :key="i"
                        :ref="column.field"
                        :name="column.field"
                        :colspan="(column.hasOwnProperty('child') ? column.child.filter(x => dataList.data.filters[x].freeze).length : countColspanVisible(column))"
                        v-if="(dataList.data.filters[column.field] ? dataList.data.filters[column.field].freeze : true) && (column.hasOwnProperty('child') ? column.child.filter(x => dataList.data.filters[x].freeze).length > 0 : true)"
                        v-show="countColspanVisible(column) !== 0 && (dataList.data.filters[column.field] ? dataList.data.filters[column.field].visible : true)">
                      <div><label>{{ column.label }}</label></div>
                    </th>
                  </template>
                </tr>
              </thead>
            </table>
          </div>

          <div>
            <table class="table table-bordered border-bottom-0 table-secondary table-sm dataTable no-footer" width="100%" cellspacing="0" role="grid">
              <thead>
                <tr v-for="(field, i) in dataList.data.columns" :key="i">
                  <template v-for="(column, i) in field">
                    <th scope="col"
                        :key="i"
                        :ref="column.field"
                        :name="column.field"
                        :colspan="countColspanVisible(column)"
                        v-if="(dataList.data.filters[column.field] ? !dataList.data.filters[column.field].freeze : true) && (column.hasOwnProperty('child') ? column.child.filter(x => !dataList.data.filters[x].freeze).length > 0 : true)"
                        v-show="countColspanVisible(column) !== 0 && (dataList.data.filters[column.field] ? dataList.data.filters[column.field].visible : true)">
                      <div><label>{{ column.label }}</label></div>
                    </th>
                  </template>
                </tr>
              </thead>
            </table>
          </div>

        </div>
      </div>
      <div class="body-table">

        <div v-if="hasColumnFreeze()">
          <table  @contextmenu="contextmenuToggleColumn($event)" class="table table-freeze table-bordered table-sm dataTable no-footer" width="100%" cellspacing="0" role="grid">
            <thead>
              <tr v-for="(field, i) in dataList.data.columns" :key="i" style="height: 0;">
                <template v-for="(column, i) in field">

                  <th scope="col"
                      class="animated fadeIn"
                      :key="i"
                      :ref="column.field"
                      :name="column.field"
                      :colspan="(column.hasOwnProperty('child') ? column.child.filter(x => dataList.data.filters[x].freeze).length : countColspanVisible(column))"
                      v-if="(dataList.data.filters[column.field] ? dataList.data.filters[column.field].freeze : true) && (column.hasOwnProperty('child') ? column.child.filter(x => dataList.data.filters[x].freeze).length > 0 : true)"
                      v-show="countColspanVisible(column) !== 0 && (dataList.data.filters[column.field] ? dataList.data.filters[column.field].visible : true)"
                      style="padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                    <div style="overflow: hidden; height: 0;"><label>{{ column.label }}</label></div>
                  </th>

                </template>
              </tr>
            </thead>
            <tbody>
              <tr 
                v-for="(field, i) in filterDatatablesByPagination(dataList.data.rows)" 
                :key="i"
                :id="i"
                 v-rowheight="field"
                >
                <template v-for="(column, i) in field">
                  <td scope="row"
                      :key="i"
                      :name="i"
                      :ref="i"
                      v-if="(dataList.data.filters[i] ? dataList.data.filters[i].freeze : true)"
                      v-show="(dataList.data.filters[i] ? dataList.data.filters[i].visible : true)"
                      @mouseover="positionHover($event, true)" @mouseout="positionHover($event, false)">
                    <div><label>{{ column }}</label></div>
                  </td>
                </template>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-scroll table-responsive">

          <table  @contextmenu="contextmenuToggleColumn($event)" class="table table-bordered table-sm dataTable no-footer" width="100%" cellspacing="0" role="grid">
            <thead>
              <tr v-for="(field, i) in dataList.data.columns" :key="i" style="height: 0;">

                <template v-for="(column, i) in field">

                  <th scope="col"
                      class="animated fadeIn"
                      :key="i"
                      :ref="column.field"
                      :name="column.field"
                      :colspan="countColspanVisible(column)"
                      v-if="(dataList.data.filters[column.field] ? !dataList.data.filters[column.field].freeze : true) && (column.hasOwnProperty('child') ? column.child.filter(x => !dataList.data.filters[x].freeze).length > 0 : true)"
                      v-show="countColspanVisible(column) !== 0 && (dataList.data.filters[column.field] ? dataList.data.filters[column.field].visible : true)"
                      style="padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                    <div style="overflow: hidden; height: 0;"><label>{{ column.label }}</label></div>
                  </th>

                </template>
              </tr>
            </thead>
            <tbody>
              <tr 
                  v-for="(field, i) in filterDatatablesByPagination(dataList.data.rows)" 
                  :key="i"
                  :id="i"
                  v-rowheight="field"
                  >

                <template v-for="(column, n) in field">

                  
                    <td scope="row"
                        :key="`${n + '_' +i}`"
                        :name="n"
                        :ref="n"
                        v-if="(dataList.data.filters[n] ? !dataList.data.filters[n].freeze : true)"
                        v-show="(dataList.data.filters[n] ? dataList.data.filters[n].visible : true)"
                        @mouseover="positionHover($event, true)" @mouseout="positionHover($event, false)">

                          <div>

                              <label v-if="!$scopedSlots[n]">{{ column }}</label>

                              <slot :name="n" :ref="`${n + '_' +i}`" :id="i"></slot>
                          </div>

                    </td>

                </template>

              </tr>
            </tbody>
          </table>

        </div>

      </div>
      <div class="footer-table">

        <div class="dataTables_length bs-select float-left mt-3">
          <label>
            Mostrar
            <select name="dtBasicExample_length" v-model="pagination.limitPage" aria-controls="dtBasicExample" class="custom-select custom-select-sm">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
            linhas
          </label>
        </div>

        <ul class="pagination pg-blue mb-0 mt-3 float-right">
          <li class="page-item" :class="{'disabled': pagination.currentPage === 1}">
            <a class="page-link waves-effect waves-effect" :disabled="pagination.currentPage === 1" @click="pagination.currentPage--">Previous</a>
          </li>
          <li class="page-item" v-for="(page, i) in pagination.arrayPage" :key="i" :class="{'active': page === pagination.currentPage}" @click="pagination.currentPage = page"><a class="page-link waves-effect waves-effect">{{page}}</a></li>
          <li class="page-item" :class="{'disabled': pagination.currentPage === pagination.arrayPage.length}">
            <a class="page-link waves-effect waves-effect" :disabled="pagination.currentPage === pagination.arrayPage.length" @click="pagination.currentPage++">Next</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</template>

<script>

  const swapPositions = (array, a, b) => {
    [array[a], array[b]] = [array[b], array[a]]
  }

  export default {
    name: "home",
    props: {
      dataList: {
        type: Object,
        default: {}
      }
    },
    data() {
      return {
        pagination: {
          limitPage: 10,
          currentPage: 1,
          arrayPage: [],
        },
      };
    },
    mounted() {
      this.widthColumn();
      this.generatePagination();
    },
    filters: {
      hasColspan: function (column) {

        return column.hasOwnProperty("col") ? column.col : 1;
      }
    },
    watch: {
      'pagination.limitPage': function () {
        this.generatePagination();
      }
    },
    methods: {
      positionHoverTR: function(e, isActive){
        
        const listRefs = document.querySelectorAll(`tr[id='${e.currentTarget.rowIndex-1}']`);
        listRefs.forEach(t => {
          if(isActive)
            t.style.backgroundColor = "#f4f6f7";
          else
            t.style.backgroundColor = "";
        })
      },
      positionHover: function(e, isActive){

        const listRefsTR = document.querySelectorAll(`tr[id='${e.currentTarget.parentElement.attributes.id.value}']`);
        const listRefsTD = this.$refs[e.currentTarget.attributes.name.value];

        listRefsTR.forEach(t => {
          if(isActive)
            t.style.backgroundColor = "#f4f6f7";
          else
            t.style.backgroundColor = "";
        });

        listRefsTD.forEach(t => {
          if(isActive)
            t.style.backgroundColor = "#f4f6f7";
          else
            t.style.backgroundColor = "";
        });
      },
      hasColumnFreeze: function () {

        return Object.keys(this.dataList.data.filters).filter(x => this.dataList.data.filters[x].freeze).length > 0;
      },
      hasColumnVisible: function (payload) {

        return this.dataList.data.filters[payload.field] ? this.dataList.data.filters[payload.field].visible : true;
      },
      hasColumnRender: function (payload) {

        return this.dataList.data.filters[payload.field] ? this.dataList.data.filters[payload.field].visible : true;
      },
      filterSearch: function (payload) {

        const paramSearch = "TESTE";

        return payload.filter(x => {

          for (let column in x) {
            if (x[column].indexOf(paramSearch) > -1) {
              return x
              break;
            }
          }
        })
      },
      filterDatatablesByPagination: function (payload) {

        let calcMin = (this.pagination.currentPage - 1) * this.pagination.limitPage;
        let calcMax = this.pagination.currentPage * this.pagination.limitPage;
        if (calcMin > payload.length)
          this.pagination.currentPage = 1;
        return payload.slice(calcMin, calcMax);
      },
      generatePagination: function () {
        this.pagination.arrayPage = [];
        let maxPage = Math.ceil(this.dataList.data.rows.length / this.pagination.limitPage);
        for (let i = 1; i <= maxPage; i++) {
          this.pagination.arrayPage.push(i);
        }
      },
      countColspanVisible: function (column) {

        if (column.hasOwnProperty('child')) {
          return column.child.filter(n => this.dataList.data.filters[n].visible).length
        }
        return 1;
      },
      hasVisible: function (column) {

        if (this.dataList.data.filters[column.field]) {
          return this.dataList.data.filters[column.field].visible;
        }
        return true;
      },
      widthColumn: function () {
        const paddingColumn = 11;
        let amountWithColumns = 0;
        this.dataList.data.columns[this.dataList.data.columns.length - 1].forEach(x => {
          const maxNumber = this.dataList.data.rows.map(t => {
            if (t[x.field] === "") {
              return x.label.length;
            }
            if (t[x.field].length < x.label.length) {
              return x.label.length;
            }
            return t[x.field].length;
          }).sort(function (a, b) { return a - b; }).pop();
          amountWithColumns = amountWithColumns + (maxNumber * paddingColumn);
          this.$refs[x.field].forEach(u => { u.style.width = `${(maxNumber * paddingColumn)}px`; });
        });

        this.widthTable();
        this.widthTableFreeze();
      },

      widthTableFreeze: function () {
        let amountWithColumns = 0;
        document.querySelectorAll(".table-freeze tr:last-child th").forEach(x => {
          if (x.style.display !== "none") {
            amountWithColumns += parseFloat(x.style.width);
          }
        });
        document.querySelectorAll(".table-freeze").forEach(x => {
          x.style.width = (amountWithColumns / 2) + "px";
          x.parentElement.style.minWidth = (amountWithColumns / 2) + "px";
        });
      },

      widthTable: function () {

        let amountWithColumns = 0;
        document.querySelectorAll(".table:not(.table-freeze) tr:last-child th").forEach(x => {
          if (x.style.display !== "none") {
            amountWithColumns += parseFloat(x.style.width);
          }
        });
        document.querySelectorAll(".table:not(.table-freeze)").forEach(x => {
          x.style.width = (amountWithColumns / 2) + "px";
          x.parentElement.style.width = (amountWithColumns / 2) + "px";
        });
      },

      hasSort: function (column) {

        return column.hasOwnProperty("sort") ? true : false;
      },

      columnToggle: function (payload) {
        setTimeout(() => {
          this.widthTable();
          this.widthTableFreeze();
        })
      },

      hasElementVisible: function (element = Element) {

        return element.offsetWidth > 0 && element.offsetHeight > 0;
      },

      contextmenuToggleColumn: function (e) {

        e.preventDefault();

        let bodyContent = document.querySelector("#app");
        let contextMenu = document.querySelector(".dropdown-contextmenu .dropdown-menu");
        contextMenu.style.display = "block";

        if ((e.clientX + contextMenu.clientWidth) > document.querySelector(".body-table").clientWidth)
          contextMenu.style.left = (e.clientX - contextMenu.clientWidth) + 'px';
        else
          contextMenu.style.left = e.clientX + 'px';

        contextMenu.style.top = e.clientY + 'px';

        let resetContextmenu = (f) => {
          if (f.srcElement.parentElement.parentElement.classList.contains("dropdown-menu")) {
            return false;
          }
          contextMenu.style.display = "";
          bodyContent.removeEventListener('click', resetContextmenu, false);
        };

        bodyContent.addEventListener('click', resetContextmenu, false);
      }
    },
    directives: {
      drawscroll: {
        inserted: function (el, binding) {
          const ctrlScroll = document.querySelector(".table-scroll");
          let f = function (evt) {
            document.querySelector(".head-table-inner .table:not(.table-freeze)").parentElement.style.left = `-${ctrlScroll.scrollLeft}px`;
            document.querySelector(".body-table div:first-child table").style.top = `-${ctrlScroll.scrollTop}px`;
          };
          ctrlScroll.addEventListener("scroll", f);
        }
      },
      rowheight: {
        inserted: function(el, binding){
          let rows = document.querySelectorAll(`tr[id="${el.id}"]`);
          let resolvedHeight = (a, b) => {
            if(a.clientHeight > b.clientHeight) 
              return a.clientHeight;
            return b.clientHeight;
          }
          binding.value.attributes.height = resolvedHeight(...rows);
        }
      }
    }
  };
</script>

<style scoped>
  @import url("datatable-component.css");

  .main-table {
    padding: 1rem;
    overflow: hidden;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0px 2px 3px 0px #dedede;
  }

  .dataTables_scroll {
    width: 50%;
    overflow: hidden;
    background-color: #ffffff;
  }

  .head-table {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
  }

  .head-table-inner, .body-table {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: content-box;
    position: relative;
    background-color: #ffffff;
  }

  .head-table-inner {
    overflow: hidden;
  }

  .body-table {
    border-top: none;
  }

    .head-table-inner div, .body-table div table {
      box-sizing: content-box;
      position: relative;
      z-index: 1;
    }

      .head-table-inner div:last-child {
        z-index: 0;
      }

    .body-table > div {
      height: calc(70vh - 146px);
    }

    .body-table > div:first-child {
      overflow: hidden;
    }

    .body-table > div:last-child {
      overflow: auto;
    }

  .table {
    margin-bottom: 0;
    border-collapse: collapse;
    background: none !important;
  }

    .table th {
      font-weight: 600;
      border-bottom: none;
      background: #ffffff;
    }

    .table tr:first-child th {
      border-top: none;
    }

    .table th, .table td {
      font-size: 0.75rem;
      text-align: center;
      border-bottom: 1px solid #e6e6e6;
    }

    .table td {
      height: 30px;
      vertical-align: middle;
      color: #000;
    }

  .dropdown-contextmenu .dropdown-menu {
    display: none;
    width: 300px;
    position: fixed;
    max-height: 350px;
    overflow-y: auto;
  }
</style>
