<template>
        <input type="text" class="form-control full-width form-control-sm" 
            @focus="onfocus($event)" 
            :ref="`field_${row}_${col}`"
            :id="`field_${row}_${col}`" 
            v-model="value" 
            :row="row" 
            :col="col" 
            @keydown="cellNavigation($event)" />
</template>
<script>
export default {
    name: 'InputCellNavigation',
    props: {
        col: Number,
        row: Number,
        id: Number,
        model: Object,
    },
    data() {
        return {
            idxRow: this.row,
            idxCol: this.col,
            value: ''
        }
    },
    watch: {
        value: function(){
            this.$set(this.model.row, this.$refs[`field_${this.row}_${this.col}`].getAttribute('name'), this.value);
            this.$emit('change');
        }
    },
    methods: {
        onfocus: function(){
            this.$refs[`field_${this.row}_${this.col}`].select();
        },
        cellNavigation: function(e){

            const _keyCode = e.keyCode;
            
            //Move Down
            if(_keyCode === 40 || _keyCode === 13){
                this.cellFocus(this.row + 1, this.col)
            }
            //Move Top
            else if(_keyCode === 38){
                this.cellFocus(this.row - 1, this.col)
            }
            //Move Right
            else if(_keyCode === 39){
                this.cellFocus(this.row, this.col + 1)
            }
            //Move Left
            else if(_keyCode === 37){
                this.cellFocus(this.row, this.col - 1)
            }
        },
        cellFocus: function(_row, _col){

            const getElement = document.getElementById(`field_${_row}_${_col}`);
            if(getElement){
                getElement.focus();
            }
        },
    },
}
</script>
<style scoped>
    .form-control:focus{
        -webkit-box-shadow: inset 0px 0px 0px 2px rgba(66,133,244,1);
        -moz-box-shadow: inset 0px 0px 0px 2px rgba(66,133,244,1);
        box-shadow: inset 0px 0px 0px 2px rgba(66,133,244,1);
    }
</style>