<template>
  <div class="wrap_datatables">
    <div class="top_datatables">
      <input type="text" placeholder="Search" />
    </div>

    <div v-if="storage.data.rows.length === 0" class="body_datatables">Carregando...</div>
    <div v-else class="body_datatables">
      <div class="body_datatables__header">
        <div class="body_datatables__header_box">
          <div class="body_datatables__header_left_freeze">
            <table :style="`width: ${calcWidthTableInFreeze(storage.data.filters)}px`">
              <colgroup>
                <template v-for="(column, i) in storage.data.columns[storage.data.columns.length - 1]">
                  <col  :style="`width: ${storage.data.filters[column.field].width}px`"
                    :key="i"
                    :ref="column.field"
                    :name="column.field"
                    :colspan="(column.hasOwnProperty('child') ? column.child.filter(x => storage.data.filters[x].freeze).length : countColspanVisible(column))"
                    v-if="(storage.data.filters[column.field] ? storage.data.filters[column.field].freeze : true) && (column.hasOwnProperty('child') ? column.child.filter(x => storage.data.filters[x].freeze).length > 0 : true)"
                    v-show="countColspanVisible(column) !== 0 && (storage.data.filters[column.field] ? storage.data.filters[column.field].visible : true)"
                  >
                </template>
              </colgroup>
              <thead>
                
                <template v-for="(row, r) in storage.data.columns">

                  <tr :id="r" :key="r">

                    <template v-for="(column, c) in row">
                      
                      <th
                        :key="c"
                        :ref="column.field"
                        :name="column.field"
                        :colspan="(column.hasOwnProperty('child') ? column.child.filter(x => storage.data.filters[x].freeze).length : 1)"
                        v-if="(storage.data.filters[column.field] ? storage.data.filters[column.field].freeze : true) && (column.hasOwnProperty('child') ? column.child.filter(x => storage.data.filters[x].freeze).length > 0 : true)"
                        v-show="countColspanVisible(column) !== 0 && (storage.data.filters[column.field] ? storage.data.filters[column.field].visible : true)"
                      >
                        {{ column.label }}
                        <div v-if="storage.data.filters[column.field] && storage.data.filters[column.field].hasOwnProperty('sort')" @click="activeSortColumn(column.field)">
                          <font-awesome-icon v-if="storage.data.filters[column.field].sort === null" icon="sort" />
                          <span v-else>
                            <font-awesome-icon v-if="storage.data.filters[column.field].sort" icon="sort-up" />
                            <font-awesome-icon v-if="!storage.data.filters[column.field].sort" icon="sort-down" />
                          </span>
                        </div>
                      </th>
                    </template>
                  </tr>
                </template>
              </thead>
            </table>
          </div>
          <div class="body_datatables__header_right">

            <table :style="`width: ${calcWidthTable(storage.data.filters)}px`">
              <colgroup>
                <template v-for="(column, i) in storage.data.columns[storage.data.columns.length - 1]">
                  <col :style="`width: ${storage.data.filters[column.field].width}px`"
                    :key="i"
                    :ref="column.field"
                    :name="column.field"
                    :colspan="(column.hasOwnProperty('child') ? column.child.filter(x => !storage.data.filters[x].freeze).length : countColspanVisible(column))"
                    v-if="(storage.data.filters[column.field] ? !storage.data.filters[column.field].freeze : true) && (column.hasOwnProperty('child') ? column.child.filter(x => !storage.data.filters[x].freeze).length > 0 : true)"
                    v-show="countColspanVisible(column) !== 0 && (storage.data.filters[column.field] ? storage.data.filters[column.field].visible : true)"
                  >
                </template>
              </colgroup>
              <thead>

                <template v-for="(row, r) in storage.data.columns">

                  <tr :id="r" :key="r">

                    <template v-for="(column, c) in row">
                      
                      <th
                        :key="c"
                        :ref="column.field"
                        :name="column.field"
                        :colspan="(column.hasOwnProperty('child') ? column.child.filter(x => !storage.data.filters[x].freeze).length : 1)"
                        v-if="(storage.data.filters[column.field] ? !storage.data.filters[column.field].freeze : true) && (column.hasOwnProperty('child') ? column.child.filter(x => !storage.data.filters[x].freeze).length > 0 : true)"
                        v-show="countColspanVisible(column) !== 0 && (storage.data.filters[column.field] ? storage.data.filters[column.field].visible : true)"
                      >
                        {{ column.label }}
                        <div v-if="storage.data.filters[column.field] && storage.data.filters[column.field].hasOwnProperty('sort')" @click="activeSortColumn(column.field)">
                          <font-awesome-icon v-if="storage.data.filters[column.field].sort === null" icon="sort" />
                          <span v-else>
                            <font-awesome-icon v-if="storage.data.filters[column.field].sort" icon="sort-up" />
                            <font-awesome-icon v-if="!storage.data.filters[column.field].sort" icon="sort-down" />
                          </span>
                        </div>
                      </th>
                    </template>
                  </tr>
                </template>
              </thead>
            </table>

          </div>
        </div>
      </div>
      
      <div class="body_datatables__body_box">

        <div class="body_datatables__body_left">

          <table :style="`width: ${calcWidthTableInFreeze(storage.data.filters)}px`">
            <colgroup>
              <template v-for="(column, i) in storage.data.columns[storage.data.columns.length - 1]">
                <col :style="`width: ${storage.data.filters[column.field].width}px`"
                  :key="i"
                  :ref="column.field"
                  :name="column.field"
                  :colspan="(column.hasOwnProperty('child') ? column.child.filter(x => storage.data.filters[x].freeze).length : countColspanVisible(column))"
                  v-if="(storage.data.filters[column.field] ? storage.data.filters[column.field].freeze : true) && (column.hasOwnProperty('child') ? column.child.filter(x => storage.data.filters[x].freeze).length > 0 : true)"
                  v-show="countColspanVisible(column) !== 0 && (storage.data.filters[column.field] ? storage.data.filters[column.field].visible : true)"
                >
              </template>
            </colgroup>
            <tbody>
              
              <tr v-for="(row, r) in storage.data.rows" :id="r" :key="r" v-rowheight="row">
                
                <template v-for="(column, c) in row">
                  
                  <td
                    :key="c"
                    :ref="c"
                    :name="c"
                    v-if="(storage.data.filters[c] ? storage.data.filters[c].freeze : true) && (column.hasOwnProperty('child') ? column.child.filter(x => storage.data.filters[x].freeze).length > 0 : true)"
                    v-show="countColspanVisible(column) !== 0 && (storage.data.filters[c] ? storage.data.filters[c].visible : true)"
                  >
                    <div
                        :style="`min-width: ${storage.data.filters[c].width}px; height: ${row.attributes.height}px;`">
                        
                        <label v-if="!$scopedSlots[c]">{{ column }}</label>
                        <slot :name="c" :ref="`${c + '_' +r}`" :id="r" :row="column"></slot>
                    </div>
                  </td>
                </template>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="body_datatables__body_right">

          <table :style="`width: ${calcWidthTable(storage.data.filters)}px`">
            <colgroup>
              <template v-for="(column, i) in storage.data.columns[storage.data.columns.length - 1]">
                <col :style="`width: ${storage.data.filters[column.field].width}px`"
                  :key="i"
                  :ref="column.field"
                  :name="column.field"
                  :colspan="(column.hasOwnProperty('child') ? column.child.filter(x => !storage.data.filters[x].freeze).length : countColspanVisible(column))"
                  v-if="(storage.data.filters[column.field] ? !storage.data.filters[column.field].freeze : true) && (column.hasOwnProperty('child') ? column.child.filter(x => !storage.data.filters[x].freeze).length > 0 : true)"
                  v-show="countColspanVisible(column) !== 0 && (storage.data.filters[column.field] ? storage.data.filters[column.field].visible : true)"
                >
              </template>
            </colgroup>
            <tbody>
              
                <tr v-for="(row, r) in storage.data.rows" :id="r" :key="r" v-rowheight="row">
                  
                  <template v-for="(column, c) in row">
                    
                    <td
                      :key="c"
                      :ref="c"
                      :name="c"
                      v-if="(storage.data.filters[c] ? !storage.data.filters[c].freeze : true) && (column.hasOwnProperty('child') ? column.child.filter(x => !storage.data.filters[x].freeze).length > 0 : true)"
                      v-show="countColspanVisible(column) !== 0 && (storage.data.filters[c] ? storage.data.filters[c].visible : true)"
                    >
                      <div
                          :style="`min-width: ${storage.data.filters[c].width}px; height: ${row.attributes.height}px;`">
                          
                          <label v-if="!$scopedSlots[c]">{{ column }}</label>
                          <slot :name="c" :ref="`${c + '_' +r}`" :id="r" :row="column"></slot>
                      </div>
                    </td>
                  </template>
                </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>

    <div class="footer_datatables">Paginação</div>
  </div>
</template>
<script>
export default {
  name: "MindDatatables",
  props: {
    dataStorage: Object
  },
  data: () => ({
    storage: null
  }),
  created() {
    this.$set(this.$data, "storage", this.dataStorage);
  },
  mounted() {
    
  },
  updated() {
    this.widthColumn();
  },
  methods: {
    calcWidthTableInFreeze(payload){
      let _resultSum = 0;
      for (const key in payload)
      {
        if(payload[key].hasOwnProperty("freeze") && payload[key].visible)
        {
          _resultSum += Number(payload[key].width);
        }
      }
      return _resultSum;
    },
    calcWidthTable(payload){
      let _resultSum = 0;
      for (const key in payload)
      {
        if(!payload[key].hasOwnProperty("freeze") && payload[key].visible)
        {
          _resultSum += Number(payload[key].width);
        }
      }
      return _resultSum;
    },
    countColspanVisible: function(column) {
      if (column.hasOwnProperty("child")) {
        return column.child.filter(n => this.storage.data.filters[n].visible).length;
      }
      return 1;
    },
    activeSortColumn: function(column){
      for(let key in this.storage.data.filters){
        if(key !== column && this.storage.data.filters[key].hasOwnProperty('sort'))
          this.storage.data.filters[key].sort = null;
      }
      this.storage.data.filters[column].sort = !this.storage.data.filters[column].sort;
    },
    widthColumn: function () {
        const paddingColumn = 11;

        let amountWithColumns = 0;

        this.storage.data.columns[this.storage.data.columns.length - 1].forEach(x => {

          const maxNumber = this.storage.data.rows.map(t => {
            if (t[x.field] === "") {
              return x.label.length;
            }
            if (t[x.field].length < x.label.length) {
              return x.label.length;
            }
            return t[x.field].length;

          }).sort(function (a, b) { return a - b; }).pop();

          amountWithColumns = amountWithColumns + (maxNumber * paddingColumn);
          console.log(this.storage.data.filters[x.field]);

          if(this.storage.data.filters[x.field].width === "")
          {
            this.storage.data.filters[x.field].width = (maxNumber * (paddingColumn + 3));
          }

          // this.$refs[x.field].forEach(u => { 
          //   u.style.width = `${(maxNumber * (paddingColumn + 3))}px`; 
          // });
        });
      },
  },
  directives: {
    rowheight: {
      inserted: function(el, binding){
        let rows = document.querySelectorAll(`tr[id="${el.id}"]`);
        let resolvedHeight = (a, b) => {
          if(a.clientHeight > b.clientHeight) 
            return a.clientHeight;
          return b.clientHeight;
        }
        binding.value.attributes.height = resolvedHeight(...rows);
      }
    }
  }
};
</script>
<style scoped>
.wrap_datatables {
  display: flex;
  flex-flow: column nowrap;
  height: calc(100vh - 2rem);
  padding: 0.5rem;
  border-radius: 3px;
  background-color: #ffffff;
}
.body_datatables {
  flex: 1;
  border: 1px solid #e6e6e6;
}
.body_datatables__header {
  min-height: 30px;
  border-bottom: 1px solid #e6e6e6;
}
.body_datatables__header_box {
  display: flex;
  overflow: hidden;
}
.body_datatables__body_box {
  display: flex;
  overflow: hidden;
}
table th{
  position: relative;
}
table th div {
  width: 100%;
  height: 100%;
  text-align: right;
  position: absolute;
  top: 0;
  left: 0;
}
</style>